.combat__chat__message-list {
    width: 100%;
    max-height: 80%;
    height: 80%;
}
.combat__chat__message-list ul {
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.message-list__message {
    padding: 12px 16px;
}
.message-list__message:nth-child(2n) {
    background: #f4fbfe;
}