.error-popup {
    /*Выравнивание по центру*/
    position: relative;
    top: 35%;
    left: 50%;
    margin-left: -150px;
    /*Размеры блока*/
    min-height: 100px;
    width: 300px;

    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 15px;
    border: 2px solid #ff574b;
    border-radius: 10px;
}
/*Блок сообщения*/
.error-popup__message {
    min-height: 65px;
}
/*Кнопка*/
.error-popup__action {
    align-self: flex-end;
    border: none;
    background-color: #aaa;
    color: #ffffff;
    padding: 10px 15px;
    transition: 0.3s all;
}
.error-popup__action:hover {
    background-color: #ff574b;
}