.combat {
    height: 100vh;
}
.combat__chat {
    display: flex;
    justify-content: space-between;
    height: 30%;
}
.combat__chat__messages {
    width: 76%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}