.combat {
    height: 100vh;
}
.combat__chat {
    display: flex;
    justify-content: space-between;
    height: 35%;
    flex-flow: column;
}
.combat__chat__messages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
